<div class="p-grid p-text-center">
    <div class="p-col">
        <h1>Registro</h1>
    </div>
</div>
<div id="form" class="p-d-flex p-jc-center">
    <form [formGroup]="formGroup">
        <div class="p-fluid p-jc-center">
            <div class="p-field p-col-12">
                <span class="p-input-icon-left">
                    <i class="fas fa-user"></i>
                    <input id="name" type="text" size="30" maxlength="30" class="form-control" formControlName="name"
                        placeholder="Nombre" pInputText>
                </span>
            </div>
            <div class="p-field p-col-12">
                <span class="p-input-icon-left">
                    <i class="fas fa-user"></i>
                    <input id="lastname" type="text" size="30" maxlength="30" class="form-control"
                        formControlName="lastname" placeholder="Apellido" pInputText>
                </span>
            </div>
            <div class="p-field p-col-12">
                <span class="p-input-icon-left">
                    <i class="fa fa-at"></i>
                    <input id="email" type="email" size="30" maxlength="30" class="form-control" class="form-control"
                        formControlName="email" placeholder="Correo" pInputText>
                </span>
            </div>
            <div class="p-field p-col-12">
                <span class="p-input-icon-left">
                    <i class="fas fa-unlock-alt"></i>
                    <input id="password" pPassword type="password" size="40" maxlength="40" class="form-control"
                        class="form-control" formControlName="password" placeholder="Contraseña" pInputText>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="p-grid">
    <div class="p-col-8 p-offset-2 p-text-center">
        <p-button label="Registrar" (click)="registro()"></p-button>
    </div>
</div>
<hr>
<div class="p-grid">
    <div class="p-col-8 p-offset-2 p-text-center">
        <button pButton pRipple type="button" label="Iniciar sesion" class="p-button-help p-button-text"
            [routerLink]="['/auth']"></button>
    </div>
</div>